Config { font = "xft:Fira Code Nerd Font:pixelsize=18:antialias=true:hinting=true"
       , additionalFonts = [
                  "xft:Fira Code Nerd Font:pixelsize=16:antialias=true:hinting=true"
                , "xft:Fira Code Nerd Font:pixelsize=14:antialias=true:hinting=true"
                , "xft:mononoki Nerd Font:pixelsize=16:antialias=true:hinting=true"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "white"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-t", "\xf6c4 <total>%", "-L","10","-H","50",
                               "--normal","#ff6300","--high","#ff0000"] 50
                    , Run Memory ["-t", "\xf85a <usedratio>%"
                            , "-L", "35", "--low", "#ffffff"
                            , "-H", "70", "--high", "#ff0000"
                            , "--normal", "#ff6300"
                            ] 50
                    , Run DiskU [("/", "\xf7c9 <free>")]
                                ["-L", "40", "-l", "#ff0000"] 20
                    , Run Date "\xf073 %a %b%_d \xfa1a %H:%M" "date" 100
                    , Run Battery ["--template" , "<acstatus>"
                             , "--Low"      , "15"        -- units: %
                             , "--High"     , "80"        -- units: %
                             , "--low"      , "#ff3333"
                             , "--normal"   , "#E8DA4D"
                             , "--high"     , "#1de024"
                             , "--" -- battery specific options
                                       -- discharging status
                                       , "-o"	, "\xf58b <left>%"
                                       -- AC "on" status
                                       , "-O"	, "<fc=#90E897>\xf583 <left>%</fc>"
                                       -- charged status
                                       , "-i"	, "<fc=#1de024>\xf578 <left>%</fc>"
                             ] 600
                     , Run Wireless "wlp3s0" [
                            "--template", "\xf1eb  <quality>"] 100
                     , Run DynNetwork ["--template" , "\xfbf4 <tx> \xfbf2 <rx>"
                             , "--Low"      , "200000"       -- units: B/s
                             , "--High"     , "1000000"      -- units: B/s
                             , "--low"      , "#ffffff"
                             , "--normal"   , "#ff6300"
                             , "--high"     , "#ff0000"
                             ] 10
                     , Run Com "/home/andriati/.local/bin/network_info" [] "netinfo" 50
                     , Run Com "/home/andriati/.local/bin/volinfo.sh" [] "vol" 10
                     , Run Com "/home/andriati/.local/bin/micinfo.sh" [] "mic" 10
                     , Run StdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%StdinReader% }{ %cpu% %memory% %disku% %netinfo% %dynnetwork%\
                    \ <fc=#fefe5a>%vol% %mic% </fc>%battery% <fc=#ff0087>%date%</fc>\
                    \<fc=#1c1c1c> </fc><fc=#1c1c1c,#1c1c1c>             </fc>"
       }
